@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
    font-family: 'Bricolade';
    src: url('/fonts/BricolageGrotesque.ttf');
}

@theme {
  --color-accent: #00a6f4;
}

html, body {
    font-family: 'Bricolade', sans-serif; 
}

h2 {
    @apply text-lg font-bold;
}