---
import MainLayout from "../layouts/MainLayout.astro";
import { getCollection, render } from 'astro:content';

const references = await getCollection('references');

const renderedReferences = await Promise.all(
  references.map(async (post) => {
    const { Content } = await render(post);

    return {
      ...post,
      Content,
    };
  })
);
---

<MainLayout title="Balazs Huszar - Visual Designer">
	<h1 class="mb-8">Coming Soon</h1>	
</MainLayout>
