---
import { Image } from "astro:assets";
import portrait from '../assets/balazs-huszar-portrait.png';
---

<div id="about" class="flex flex-col sm:flex-row items-center py-8 sm:flex-row-reverse">
    <div class="w-full sm:w-1/2 w-1/2">
        <h3 class="text-sm mb-2 before:content-[''] before:inline-block before:w-[8px] before:h-[8px] before:bg-(--color-accent) before:mr-1 before:rounded-full before:mb-[1px]">Hybrid Designer</h3>
        <h1 class="text-5xl font-bold mb-4">I craft visual systems and digital experiences.</h1>
        <p>From brand identities and print design to 3D visuals, game assets, UI/UX and web development, I create functional and visually engaging experiences across physical and digital platforms.</p>
    </div>
    <div class="w-full sm:w-1/2 justify-items-end sm:pr-12">
        <Image src={portrait} alt="Balazs Huszar portrait" class="max-w-full sm:max-w-[min(100%,300px)] rounded-full border-solid border-10 border-white shadow-[0_0_30px_rgba(0,0,0,0.15)] transition-[filter] duration-1000 grayscale hover:grayscale-0 brightness-110 hover:brightness-100"/>
    </div>
</div>