---
const links = [];
---

<nav class="hidden sm:flex flex-row flex-grow gap-4 justify-end items-center">
  <ul class="flex flex-row">
    {links.map((link) => (
      <li class="mx-4 last:mr-0">
        <a href={link.href}>{link.label}</a>
      </li>
    ))}
  </ul>
</nav>