---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
const { title } = Astro.props;
---

<html lang="en" class="">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{ title }</title>
	</head>
	<body class="flex flex-col min-h-screen max-w-5xl mx-auto bg-blue-500 text-base text-black pt-8">

		<div class="main-content flex-grow bg-white rounded-4xl p-8 shadow-xl">		
		
			<header class="flex flex-row mb-8">
				<div class="flex items-center">
					<div class="flex bg-blue-500 w-[40px] h-[40px] mr-2 rounded-[20px] text-white justify-center items-center">
						<span class="font-bold text-2xl leading-none">B</span>
					</div>
					<div class="text-xl">
						<span class="font-bold">Balazs</span> Huszar
					</div>
				</div>
				<Navbar />
			</header>

			<slot />

		</div>
		
		<Footer />

	</body>	
</html>