---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{ title }</title>
	</head>
	<body class="flex flex-col min-h-screen max-w-4xl mx-auto bg-slate-100 text-s font-mono">		
		
		<header class="flex flex-row align-center">
			<img id="site-logo" src="/logo.svg" alt="Balazs Huszar logo" class="w-12 h-12 mr-4" />
			<Navbar />
		</header>

		<div class="main-content flex-grow bg-white rounded-lg p-8 shadow-xl">
			<slot />
		</div>
		
		<Footer />
	</body>	
</html>